<h1>Lists</h1>

<p>Here are all your lists: (click any to view)</p>

<ul>

  <% @lists.each() do |list| %>
    <li><a href= "/list/<%= list.id() %>"><%= list.name() %></a></li>
    <!-- <input id="<%= list.id() %>" name="<%= list.id() %>" type="hidden" value="<%= list.id() %>"> -->
  <% end %>
</ul>



<p>Create a new list:</p>

<form action="/" method="post">
  <input id="new_list" name="new_list" placeholder = "Enter new list name here" type="text">
  <button type="submit">Add list</button>
</form>
